.top-panel {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid black;
    background-color: lightgrey;
    padding: 5px;
}

.top-panel-button {
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    outline: none;
    text-decoration: none;
    color: black;
}

.dropdown-container {
    position: relative;
    display: inline-block;
}

.top-panel-button-dropdown {
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    outline: none;
    text-decoration: none;
    color: black;
}

.dropdown-menu {
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    display: none;
    position: absolute;
    background-color: lightgrey;
    z-index: 1;
}

.dropdown-menu-item {
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    background-color: lightgrey;
}

.dropdown-container:hover .dropdown-menu {
    display: block;
}

.top-panel-button:hover {
    box-shadow: inset 0 0 0 3px green;
}

.dropdown-menu-item:hover {
    box-shadow: inset 0 0 0 3px green;
}